html,
body {
  height: 100%;
  margin: 0;
  background: gray;
  font-family: Arial, Helvetica, sans-serif;
}
.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  button {
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 600;
    color: #222;
    background: #f5f5f5;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
  }
}

.popup {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  padding: 20px 30px;
  background: #fff;
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
  height: 500px;
  overflow-y: scroll;
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    background: #888;
    color: #eee;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
  }
  h2 {
    color: #222;
    margin: 10px 0px 20px;
    font-size: 20px;
  }
  .inline {
    display: inline;
  }
  .form-element {
    margin: 15px 0px;
    width: 300px;
    .label {
      font-size: 14px;
      color: #222;
    }
    input[type="text"],
    input[type="number"],
    input[type="date"] {
      display: block;
      border: 1px solid #000;
      margin: 5px 0px;
      width: 280px;
      padding: 10px;
      outline: none;
    }
    #passport-number,
    #passport-series {
      width: 126px;
      display: inline;
    }
    .button-send {
      width: 120px;
      height: 40px;
      border: 1px solid transparent;
      outline: none;
      font-size: 14px;
      background: #222;
      color: #f5f5f5;
      border-radius: 10px;
      cursor: pointer;
    }
    .button-cancel {
      width: 120px;
      height: 40px;
      border: 1px solid #000;
      outline: none;
      font-size: 14px;
      background: white;
      color: black;
      border-radius: 10px;
      cursor: pointer;
    }
    input.error {
      border-color: red;
      color: red;
    }
    input[type="date"]:required:invalid::-webkit-datetime-edit {
      color: transparent;
    }
    input[type="date"]:focus::-webkit-datetime-edit {
      color: black !important;
    }
    input[type="date"]:before {
      position: absolute;
      content: attr(placeholder) !important;
      color: #a9a9a9;
    }
    input[type="date"]:focus:before,
    input[type="date"]:valid:before {
      content: attr(value) !important;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
    input::placeholder {
      color: #a9a9a9;
    }
  }
}

.active {
  display: block;
}
